name: CI/CD Pipeline

on:
    push:
        branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Python Setup
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
                cache: 'pip'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Unit Test
              run: pytest
    
    build-push:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and Push image
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: ${{ vars.DOCKERHUB_USERNAME }}/fraud-api:latest

    deploy:
        needs: [test, build-push]
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to Render
              uses: JorgeLNJunior/render-deploy@v1.4.7
              with:
                service_id: ${{ secrets.RENDER_SERVICE_ID }}
                api_key: ${{ secrets.RENDER_API_KEY }}
                wait: true