name: CI Pipeline

on:
    push:
        branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Python Setup
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
                cache: 'pip'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Unit Test
              run: pytest


    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Build docker image
              run: docker build -t fraud-api .